body{
    background-color: #E7E7E7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem auto;
}

h1{
    color: #F71735;
    text-align: center;
    background-color: #F9C784;
    padding: 1.2rem;
    border-top: #432818 solid 5px;
    border-bottom: #432818 solid 5px;
}

header{
    margin: 0 auto;
}

nav{
    background-color: #F71735;
    color: antiquewhite;
    display: grid;
    padding: 10px;
}

nav a{
    margin: 1rem;
    background-color: #F9C784;
    border-radius: 25px;
    padding: .8rem;
    color: #432818 ;
    text-align: center;
}

nav a:hover{
    color: #E7E7E7;
    background-color: #485696;
}
/* -------------------------------------------------------------------- */

#homepageMain #sitePurposeDiv{
    margin: 2rem 10%;
    display: block;
    background-color: #F9C784;
    color: #432818;
    border: 10px solid #F71735;
    padding: .5rem;
    max-width: 80%;
    border-radius: 25px;
}

#logoDiv{
    text-align: center;
}

img{
    max-width: 20rem;
    min-width: 5rem;
}
/* -------------------------------------------------------------------- */

#targetAudienceMain{
    margin: .5rem .5rem;
}

#targetAudienceMain #targetAudience, #scenarios{
    background-color: antiquewhite;
    border: solid #F71735 10px;
    border-radius: 25px;
    margin: 1rem;
    padding: .5rem;
    color: #432818;
}

#personas{
    background-color: #F9C784;
    border: solid cornflowerblue 10px;
    border-radius: 25px;
    margin: 1rem;
    padding: .5rem;
    color: #432818;
}

section{
    border-radius: 25px;
    background-color: whitesmoke;
    padding: .5rem;
    margin: .5rem;
    color: #432818;
}

#scenarios ul{
    display: grid;
}

#scenarios li{
    padding: 1rem;
    margin: 1rem;
    background-color: #F9C784;
    border-radius: 25px;
    color: #432818;
}

/* -------------------------------------------------------------------- */

#designMain {
    margin: 2.5rem;
    display: block;
    background-color: #F9C784;
    border-radius: 25px;
    text-align: center;
    padding: 1rem;
}

#designMain #colorScheme{
    margin: 0 auto;
    background-color: white;
    border: solid #F71735 10px;
    border-radius: 25px;
    padding: 1rem;
}

#designMain li{
    margin: 1rem;
    padding: .5rem;
    border-radius: 25px;
}

#_432818{
    background-color: #432818;
    color: #E7E7E7;

    /* #432818 */
}

#_F71735{
    background-color: #F71735;
}

#_485696{
    background-color: #485696;
}

#_E7E7E7{
    background-color: #E7E7E7;
}

#_F9C784{
    background-color: #F9C784;
}

#black{
    color: black;
    background-color: darkgray;
}

#typography{
    text-align: center;
    margin: 2rem;
    background-color: antiquewhite;
    padding: .8rem;
    border-radius: 25px;
    border: solid #F71735 10px;
}

#typography img{
max-width: 200px;
}

/* -------------------------------------------------------------------- */

footer{
    background-color: #485696;
    color: #E7E7E7;;
    margin: 2rem auto;
    padding: .75rem;
}