@media only screen and (min-width: 64rem) {

    #copyright{
        display: flex;
        justify-content: center;
    }

    nav{
        background-color: #F71735;
        max-width: 100vw;
    }

    nav ul{
        display: flex;
        margin: 0;
    }

    nav ul li{
        flex: 1 1 1rem;
        text-align: center;
        border-right: 1px solid #e7e7e7;
    }

    nav ul li a{
        display: block;
        font-size: 1rem;
        padding: 2rem;
    }

    #navBurger{
        display: none;
        margin: 0;
        padding: 0;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    #hero{
        grid-column: 2/3;
        grid-row: 1/3;
        max-width: 100%;
        max-height: 100%;
        padding-top: 5%;
        margin-top: 2rem;
    }

    #hero img{
        max-width: 100%;
        max-height: 500px;
    }

    #hero h1{
        top: 20%;
        font-size: 3rem;
    }
    #callToAction{
        top: 50%;
        left: 33%;
        padding: 1rem;
        font-size: 1.5rem;
    }

    #newsRelease{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    #spotlightSidebar{
        max-height: 100%;
        grid-column: 3/4;
        grid-row: 1/4;
        overflow: hidden;
    }

    #footerImg{
        max-width: 8vw;
        max-height: 8vw;
        justify-self: center;
    }

    #discoverMain{
        display: flex;
        justify-content: center;
        padding: 10px;
        max-width: 100%;
        margin:2vw;
    }

    #discoverMain #pictures{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40%;
        min-width: 10%;
    }

    #discoverMain #pictures img{
        max-height: 200px;
    }

    #statistics #statisticsList{
        display: none;
    }

    #statistics #statisticsTable{
        display: inline-table;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #E7E7E7;
    }
    
    #statistics #statisticsTable th{
        padding: 2px;
        text-align: center;
        border: 2px solid #E7E7E7;
    }
    
    #statistics #statisticsTable td{
        padding: 2px;
        text-align: center;
        border:2px solid #E7E7E7;
    }
}