@media only screen and (min-width: 64rem){


    /* Header */

    #logo{
        width: 6rem;
        height: 6rem;
        margin: 1vh;
    }


    h1{
        font-size: 4rem;
    }

    /* footer */

    footer{
        display: flex;
        justify-content: space-evenly;
    }

    #author-info{
        border-top: 0;
        border-bottom: 0;
        border-left: solid 2px rgba(0, 0, 0, 0.1);
        border-right: solid 2px rgba(0, 0, 0, 0.1);
    }

    #area-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 50vw;
    }

    /* Homepage */

    #homepage-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        margin: 0 1rem;
    }

    #homepage-main section{
        max-height: 50vh;
        overflow-y: auto;
    }

    #homepage-main section::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }

    #call-to-action{
        grid-column: 2/5;
        grid-row: 2/3;
        width: 40vw;
        max-height: 15vh;
    }

    #call-to-action a{
        padding: 1vh 2vw;
    }

    #drink-count{
        font-size: 3rem;
    }

    #weather-widget{
        grid-column: 5/6;
        grid-row: 1/3;
        display: block;
        max-width: 20vw;
    }

    #weather-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        grid-row: 2/3;
        max-width: 100%;
    }

    #weather-widget h2, #three-day-forecast{
        display: block;
    }

    #three-day-forecast{
        display: block;
        max-height: 20vh;
        overflow: scroll;
    }


    #area-info{
        grid-column: 1/2;
        grid-row: 1/3;
        max-width: 20vw;
        display: block;
    }

    #area-dropdown{
        display: none;
    }
    
    #info{
        align-content: center;
    }

    #info p{
        display: block;
        margin: 1vh 0;
    }

    .area-name{
        display: block;
        color: #3a2e39;
    }


    /* ABout */
    #find-us img{
        max-width: 30vw;
        display: block;
    }


    /* attributions */
    #attributions{
        padding: 20px;

    }

}