body {
    background-color: wheat;
    font-size: 16px;
    padding: 0;
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
}

header {
    background-color: #3e372d;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    max-height: 200px;
}

header div{
    display: flex;
}

img {
    border: 5px white solid;
    display: block;
    border-radius: 25px;
    max-width: 70px;
    max-height: 120px;
}

h1 {
    font-size: 1.5rem;
    display: block;
    margin: auto;
}

h2 {
    margin: 5px 10px;
    font-size: 2rem;
    background-color: #3e372d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
}

div{
    margin: 10px;
}


ul{
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    margin: 15px;
    padding: 15px;
    border: cornflowerblue solid 15px;
    border-radius:25px ;
}

ul a{
    display: block;
    margin: 5px;
}

ul p{
    display: block;
    margin: 5px;
    color: #3e372d;
}

footer{
    background-color: #3e372d;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    padding: 10px;
    margin: 15px;
    display: flex;
}