body {
    background-color: wheat;
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
    /*font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    max-width: 95vw;
}

header {
    background-color: #3e372d;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    max-height: 200px;
    display: flex;
}

img {
    border: 5px whitesmoke solid;
    display: block;
    border-radius: 25px;
    max-width: 70px;
    max-height: 120px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
}

h1 {
    font-size: 1.5rem;
    display: block;
    margin: auto;
}

h2 {
    margin: 5px 10px;
    font-size: 2rem;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    text-align: center;
}

main{
    margin: 10px auto;
    max-width: 85vw;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    border: #3e372d solid 15px;
    background-color: rgb(248, 243, 235);
    border-radius: 25px;
    margin: 10px auto;
    display: block;
}

ol{
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    margin: 15px;
    padding: 15px;
    border: cornflowerblue solid 15px;
    border-radius:25px ;
    color: #3e372d;
}

ol li, a{
    display: block;
}

footer{
    background-color: #3e372d;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0/0.25);
    padding: 10px;
    margin: 15px;
    display: flex;
}